* {
    margin: 50px;
    padding: 1px;
    background-color: antiquewhite;
}

.container {
    min-height: 150vmin;
    border: 10px solid darkred;
}

.content {
    max-width: 900px;
    margin: 0 auto;
    color: rgb(32, 9, 9);
}

.top_section img {
    height: 200px;
    width: 200;
    border-radius: 50%;
}

.top_section {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: auto;
    padding: auto;
}

.top_section h1 {

    font-weight: bolder;
    font-size: 50px;
    text-align: end;
}

.top_section h4 {
    line-height: 0;
    font-size: 50px;
    text-align: right
}

.image_container,
img {
    width: 300px;
    height: 250px;
}


.about_section p {
    font: 25px;
    line-height: 1.2em;
    text-align: justify;
}

.about_section h2 {
    line-height: 0;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}

footer p {
    line-height: 29px;
    text-align: end;
}